.topBar {
  background-color: #4062bb;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.topBarContent {
  width: 95%;
  padding: 10px;
  margin: auto;
  align-items: center;
}

.title {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.formContainer {
  position: relative;
}

.userTagForm {
  width: 420px;
  text-align: center;
  padding: 30px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 30%);
  background-color: white;
  box-shadow: 0 0 15px rgb(220, 220, 220);
}

.enterUserTagPrompt {
  font-size: 18px;
  margin: 15px;
}

.userTagInput {
  width: 90%;
  margin: 15px auto;
  padding: 10px;
  font-size: 18px;
  border-width: 1px;
  border-radius: 5px 5px 5px 5px;
}

.userTagExplanation {
  width: 90%;
  font-size: 18px;
  margin: auto;
  text-align: left;
}

.startChattingButton {
  border: none;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 50px 15px 15px 15px;
  background-color: #4062bb;
  color: white;
}